<?xml version="1.0" encoding="UTF-8"?>
<suite name="doctorng">
    <!--enabled="true"让测试生效，可根据情况开启或关闭某些测试-->
    <test name="test" enabled="true">
        <!--指定参数-->
        <parameter name="accesskey" value="f0af8e412cef7e5058beeb6df2012e1e"/>
        <!--指定测试包，注意加 .* -->
        <packages>
            <package name="org.gradle.*"/>
        </packages>
        <!--指定测试类-->
        <classes>
            <!--过滤测试类的方法-->
            <class name="com.qk.dm.metadata.service.MtdApiServiceTest">
                <methods>
                    <include name="testGetAllEntityType" />
                </methods>
            </class>
<!--            <class name="com.qk.dm.metadata.vo.MtdAtlasParamsVOTest">-->
<!--                <methods>-->
<!--                    <include name="testSetQuery" />-->
<!--                </methods>-->
<!--            </class>-->
        </classes>
        <!--指定测试分组-->
        <groups>
            <run>
                <!--包含-->
                <include name="fast"/>
                <!--排除-->
                <exclude name="slow"/>
            </run>
        </groups>
    </test>
</suite>