/*
 * Dolphin Scheduler Api Docs
 * Dolphin Scheduler Api Docs
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.qk.datacenter.api;

import com.qk.datacenter.client.ApiClient;
import com.qk.datacenter.client.ApiException;
import com.qk.datacenter.client.ApiResponse;
import com.qk.datacenter.client.Pair;

import com.qk.datacenter.model.BaseDataSourceParamDTO;
import java.time.OffsetDateTime;
import com.qk.datacenter.model.ResponseEntity;
import com.qk.datacenter.model.Result;
import com.qk.datacenter.model.ResultListWorkFlowLineage;
import com.qk.datacenter.model.ResultMapstringobject;
import com.qk.datacenter.model.ResultProcessDefinition;
import com.qk.datacenter.model.ResultProcessInstance;
import com.qk.datacenter.model.Resultobject;
import com.qk.datacenter.model.Resultstring;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.util.function.Consumer;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2021-12-18T14:27:46.433909+08:00[Asia/Shanghai]")
public class DefaultApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public DefaultApi() {
    this(new ApiClient());
  }

  public DefaultApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * activateUser
   * 激活用户
   * @param userName 用户名 (optional)
   * @return Resultobject
   * @throws ApiException if fails to make API call
   */
  public Resultobject activateUserUsingPOST(String userName) throws ApiException {
    ApiResponse<Resultobject> localVarResponse = activateUserUsingPOSTWithHttpInfo(userName);
    return localVarResponse.getData();
  }

  /**
   * activateUser
   * 激活用户
   * @param userName 用户名 (optional)
   * @return ApiResponse&lt;Resultobject&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Resultobject> activateUserUsingPOSTWithHttpInfo(String userName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = activateUserUsingPOSTRequestBuilder(userName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("activateUserUsingPOST", localVarResponse);
      }
      return new ApiResponse<Resultobject>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Resultobject>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder activateUserUsingPOSTRequestBuilder(String userName) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/users/activate";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("userName", userName));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * authedDatasource
   * 授权的数据源
   * @param userId 用户ID (required)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result authedDatasourceUsingGET(Integer userId) throws ApiException {
    ApiResponse<Result> localVarResponse = authedDatasourceUsingGETWithHttpInfo(userId);
    return localVarResponse.getData();
  }

  /**
   * authedDatasource
   * 授权的数据源
   * @param userId 用户ID (required)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> authedDatasourceUsingGETWithHttpInfo(Integer userId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = authedDatasourceUsingGETRequestBuilder(userId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("authedDatasourceUsingGET", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder authedDatasourceUsingGETRequestBuilder(Integer userId) throws ApiException {
    // verify the required parameter 'userId' is set
    if (userId == null) {
      throw new ApiException(400, "Missing the required parameter 'userId' when calling authedDatasourceUsingGET");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/datasources/authed-datasource";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("userId", userId));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * authorizeResourceTree
   * 授权资源树
   * @param userId 用户ID (required)
   * @throws ApiException if fails to make API call
   */
  public void authorizeResourceTreeUsingGET(Integer userId) throws ApiException {
    authorizeResourceTreeUsingGETWithHttpInfo(userId);
  }

  /**
   * authorizeResourceTree
   * 授权资源树
   * @param userId 用户ID (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> authorizeResourceTreeUsingGETWithHttpInfo(Integer userId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = authorizeResourceTreeUsingGETRequestBuilder(userId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("authorizeResourceTreeUsingGET", localVarResponse);
      }
      return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder authorizeResourceTreeUsingGETRequestBuilder(Integer userId) throws ApiException {
    // verify the required parameter 'userId' is set
    if (userId == null) {
      throw new ApiException(400, "Missing the required parameter 'userId' when calling authorizeResourceTreeUsingGET");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/resources/authed-resource-tree";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("userId", userId));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * authorizedFile
   * 授权文件
   * @param userId 用户ID (required)
   * @throws ApiException if fails to make API call
   */
  public void authorizedFileUsingGET(Integer userId) throws ApiException {
    authorizedFileUsingGETWithHttpInfo(userId);
  }

  /**
   * authorizedFile
   * 授权文件
   * @param userId 用户ID (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> authorizedFileUsingGETWithHttpInfo(Integer userId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = authorizedFileUsingGETRequestBuilder(userId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("authorizedFileUsingGET", localVarResponse);
      }
      return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder authorizedFileUsingGETRequestBuilder(Integer userId) throws ApiException {
    // verify the required parameter 'userId' is set
    if (userId == null) {
      throw new ApiException(400, "Missing the required parameter 'userId' when calling authorizedFileUsingGET");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/resources/authed-file";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("userId", userId));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * authUDFFunc
   * 授权udf函数
   * @param userId 用户ID (required)
   * @throws ApiException if fails to make API call
   */
  public void authorizedUDFFunctionUsingGET(Integer userId) throws ApiException {
    authorizedUDFFunctionUsingGETWithHttpInfo(userId);
  }

  /**
   * authUDFFunc
   * 授权udf函数
   * @param userId 用户ID (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> authorizedUDFFunctionUsingGETWithHttpInfo(Integer userId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = authorizedUDFFunctionUsingGETRequestBuilder(userId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("authorizedUDFFunctionUsingGET", localVarResponse);
      }
      return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder authorizedUDFFunctionUsingGETRequestBuilder(Integer userId) throws ApiException {
    // verify the required parameter 'userId' is set
    if (userId == null) {
      throw new ApiException(400, "Missing the required parameter 'userId' when calling authorizedUDFFunctionUsingGET");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/resources/authed-udf-func";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("userId", userId));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * authorizedUser
   * 授权用户
   * @param alertgroupId 报警组ID (required)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result authorizedUserUsingGET(String alertgroupId) throws ApiException {
    ApiResponse<Result> localVarResponse = authorizedUserUsingGETWithHttpInfo(alertgroupId);
    return localVarResponse.getData();
  }

  /**
   * authorizedUser
   * 授权用户
   * @param alertgroupId 报警组ID (required)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> authorizedUserUsingGETWithHttpInfo(String alertgroupId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = authorizedUserUsingGETRequestBuilder(alertgroupId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("authorizedUserUsingGET", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder authorizedUserUsingGETRequestBuilder(String alertgroupId) throws ApiException {
    // verify the required parameter 'alertgroupId' is set
    if (alertgroupId == null) {
      throw new ApiException(400, "Missing the required parameter 'alertgroupId' when calling authorizedUserUsingGET");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/users/authed-user";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("alertgroupId", alertgroupId));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * batchActivateUser
   * 批量激活用户
   * @param userNames 多个用户名 (required)
   * @return Resultobject
   * @throws ApiException if fails to make API call
   */
  public Resultobject batchActivateUserUsingPOST(String userNames) throws ApiException {
    ApiResponse<Resultobject> localVarResponse = batchActivateUserUsingPOSTWithHttpInfo(userNames);
    return localVarResponse.getData();
  }

  /**
   * batchActivateUser
   * 批量激活用户
   * @param userNames 多个用户名 (required)
   * @return ApiResponse&lt;Resultobject&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Resultobject> batchActivateUserUsingPOSTWithHttpInfo(String userNames) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = batchActivateUserUsingPOSTRequestBuilder(userNames);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("batchActivateUserUsingPOST", localVarResponse);
      }
      return new ApiResponse<Resultobject>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Resultobject>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder batchActivateUserUsingPOSTRequestBuilder(String userNames) throws ApiException {
    // verify the required parameter 'userNames' is set
    if (userNames == null) {
      throw new ApiException(400, "Missing the required parameter 'userNames' when calling batchActivateUserUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/users/batch/activate";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(userNames);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * batchDeleteByCodes
   * 通过流程定义ID集合批量删除流程定义
   * @param codes 流程定义编码 (required)
   * @param projectCode PROJECT_CODE (required)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result batchDeleteProcessDefinitionByCodesUsingPOST(String codes, Long projectCode) throws ApiException {
    ApiResponse<Result> localVarResponse = batchDeleteProcessDefinitionByCodesUsingPOSTWithHttpInfo(codes, projectCode);
    return localVarResponse.getData();
  }

  /**
   * batchDeleteByCodes
   * 通过流程定义ID集合批量删除流程定义
   * @param codes 流程定义编码 (required)
   * @param projectCode PROJECT_CODE (required)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> batchDeleteProcessDefinitionByCodesUsingPOSTWithHttpInfo(String codes, Long projectCode) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = batchDeleteProcessDefinitionByCodesUsingPOSTRequestBuilder(codes, projectCode);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("batchDeleteProcessDefinitionByCodesUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder batchDeleteProcessDefinitionByCodesUsingPOSTRequestBuilder(String codes, Long projectCode) throws ApiException {
    // verify the required parameter 'codes' is set
    if (codes == null) {
      throw new ApiException(400, "Missing the required parameter 'codes' when calling batchDeleteProcessDefinitionByCodesUsingPOST");
    }
    // verify the required parameter 'projectCode' is set
    if (projectCode == null) {
      throw new ApiException(400, "Missing the required parameter 'projectCode' when calling batchDeleteProcessDefinitionByCodesUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/{projectCode}/process-definition/batch-delete"
        .replace("{projectCode}", ApiClient.urlEncode(projectCode.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("codes", codes));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * batchDeleteProcessInstanceByIds
   * 通过流程实例ID集合批量删除流程实例
   * @param processInstanceIds 流程实例ID集合 (required)
   * @param projectCode projectCode (required)
   * @param alertGroup  (optional)
   * @param createTime  (optional)
   * @param email  (optional)
   * @param id  (optional)
   * @param phone  (optional)
   * @param queue  (optional)
   * @param queueName  (optional)
   * @param state  (optional)
   * @param tenantCode  (optional)
   * @param tenantId  (optional)
   * @param updateTime  (optional)
   * @param userName  (optional)
   * @param userPassword  (optional)
   * @param userType  (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result batchDeleteProcessInstanceByIdsUsingPOST(String processInstanceIds, Long projectCode, String alertGroup, OffsetDateTime createTime, String email, Integer id, String phone, String queue, String queueName, Integer state, String tenantCode, Integer tenantId, OffsetDateTime updateTime, String userName, String userPassword, String userType) throws ApiException {
    ApiResponse<Result> localVarResponse = batchDeleteProcessInstanceByIdsUsingPOSTWithHttpInfo(processInstanceIds, projectCode, alertGroup, createTime, email, id, phone, queue, queueName, state, tenantCode, tenantId, updateTime, userName, userPassword, userType);
    return localVarResponse.getData();
  }

  /**
   * batchDeleteProcessInstanceByIds
   * 通过流程实例ID集合批量删除流程实例
   * @param processInstanceIds 流程实例ID集合 (required)
   * @param projectCode projectCode (required)
   * @param alertGroup  (optional)
   * @param createTime  (optional)
   * @param email  (optional)
   * @param id  (optional)
   * @param phone  (optional)
   * @param queue  (optional)
   * @param queueName  (optional)
   * @param state  (optional)
   * @param tenantCode  (optional)
   * @param tenantId  (optional)
   * @param updateTime  (optional)
   * @param userName  (optional)
   * @param userPassword  (optional)
   * @param userType  (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> batchDeleteProcessInstanceByIdsUsingPOSTWithHttpInfo(String processInstanceIds, Long projectCode, String alertGroup, OffsetDateTime createTime, String email, Integer id, String phone, String queue, String queueName, Integer state, String tenantCode, Integer tenantId, OffsetDateTime updateTime, String userName, String userPassword, String userType) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = batchDeleteProcessInstanceByIdsUsingPOSTRequestBuilder(processInstanceIds, projectCode, alertGroup, createTime, email, id, phone, queue, queueName, state, tenantCode, tenantId, updateTime, userName, userPassword, userType);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("batchDeleteProcessInstanceByIdsUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder batchDeleteProcessInstanceByIdsUsingPOSTRequestBuilder(String processInstanceIds, Long projectCode, String alertGroup, OffsetDateTime createTime, String email, Integer id, String phone, String queue, String queueName, Integer state, String tenantCode, Integer tenantId, OffsetDateTime updateTime, String userName, String userPassword, String userType) throws ApiException {
    // verify the required parameter 'processInstanceIds' is set
    if (processInstanceIds == null) {
      throw new ApiException(400, "Missing the required parameter 'processInstanceIds' when calling batchDeleteProcessInstanceByIdsUsingPOST");
    }
    // verify the required parameter 'projectCode' is set
    if (projectCode == null) {
      throw new ApiException(400, "Missing the required parameter 'projectCode' when calling batchDeleteProcessInstanceByIdsUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/{projectCode}/process-instances/batch-delete"
        .replace("{projectCode}", ApiClient.urlEncode(projectCode.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("alertGroup", alertGroup));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("createTime", createTime));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("email", email));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id", id));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("phone", phone));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("processInstanceIds", processInstanceIds));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("queue", queue));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("queueName", queueName));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("state", state));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tenantCode", tenantCode));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tenantId", tenantId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("updateTime", updateTime));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("userName", userName));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("userPassword", userPassword));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("userType", userType));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * batchExportByCodes
   * BATCH_EXPORT_PROCESS_DEFINITION_BY_CODES_NOTES
   * @param codes 流程定义编码 (required)
   * @param projectCode PROJECT_CODE (required)
   * @throws ApiException if fails to make API call
   */
  public void batchExportProcessDefinitionByCodesUsingPOST(String codes, Long projectCode) throws ApiException {
    batchExportProcessDefinitionByCodesUsingPOSTWithHttpInfo(codes, projectCode);
  }

  /**
   * batchExportByCodes
   * BATCH_EXPORT_PROCESS_DEFINITION_BY_CODES_NOTES
   * @param codes 流程定义编码 (required)
   * @param projectCode PROJECT_CODE (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> batchExportProcessDefinitionByCodesUsingPOSTWithHttpInfo(String codes, Long projectCode) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = batchExportProcessDefinitionByCodesUsingPOSTRequestBuilder(codes, projectCode);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("batchExportProcessDefinitionByCodesUsingPOST", localVarResponse);
      }
      return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder batchExportProcessDefinitionByCodesUsingPOSTRequestBuilder(String codes, Long projectCode) throws ApiException {
    // verify the required parameter 'codes' is set
    if (codes == null) {
      throw new ApiException(400, "Missing the required parameter 'codes' when calling batchExportProcessDefinitionByCodesUsingPOST");
    }
    // verify the required parameter 'projectCode' is set
    if (projectCode == null) {
      throw new ApiException(400, "Missing the required parameter 'projectCode' when calling batchExportProcessDefinitionByCodesUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/{projectCode}/process-definition/batch-export"
        .replace("{projectCode}", ApiClient.urlEncode(projectCode.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("codes", codes));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * connectDataSource
   * 连接数据源
   * @param dataSourceParam 数据源参数 (required)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result connectDataSourceUsingPOST(BaseDataSourceParamDTO dataSourceParam) throws ApiException {
    ApiResponse<Result> localVarResponse = connectDataSourceUsingPOSTWithHttpInfo(dataSourceParam);
    return localVarResponse.getData();
  }

  /**
   * connectDataSource
   * 连接数据源
   * @param dataSourceParam 数据源参数 (required)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> connectDataSourceUsingPOSTWithHttpInfo(BaseDataSourceParamDTO dataSourceParam) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = connectDataSourceUsingPOSTRequestBuilder(dataSourceParam);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("connectDataSourceUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder connectDataSourceUsingPOSTRequestBuilder(BaseDataSourceParamDTO dataSourceParam) throws ApiException {
    // verify the required parameter 'dataSourceParam' is set
    if (dataSourceParam == null) {
      throw new ApiException(400, "Missing the required parameter 'dataSourceParam' when calling connectDataSourceUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/datasources/connect";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(dataSourceParam);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * connectionTest
   * 连接数据源测试
   * @param id 数据源ID (required)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result connectionTestUsingGET(Integer id) throws ApiException {
    ApiResponse<Result> localVarResponse = connectionTestUsingGETWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * connectionTest
   * 连接数据源测试
   * @param id 数据源ID (required)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> connectionTestUsingGETWithHttpInfo(Integer id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = connectionTestUsingGETRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("connectionTestUsingGET", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder connectionTestUsingGETRequestBuilder(Integer id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling connectionTestUsingGET");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/datasources/{id}/connect-test"
        .replace("{id}", ApiClient.urlEncode(id.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * batchCopyByCodes
   * 复制工作流定义
   * @param codes PROCESS_DEFINITION_CODES (required)
   * @param projectCode PROJECT_CODE (required)
   * @param targetProjectCode TARGET_PROJECT_CODE (required)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result copyProcessDefinitionUsingPOST(String codes, Long projectCode, Long targetProjectCode) throws ApiException {
    ApiResponse<Result> localVarResponse = copyProcessDefinitionUsingPOSTWithHttpInfo(codes, projectCode, targetProjectCode);
    return localVarResponse.getData();
  }

  /**
   * batchCopyByCodes
   * 复制工作流定义
   * @param codes PROCESS_DEFINITION_CODES (required)
   * @param projectCode PROJECT_CODE (required)
   * @param targetProjectCode TARGET_PROJECT_CODE (required)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> copyProcessDefinitionUsingPOSTWithHttpInfo(String codes, Long projectCode, Long targetProjectCode) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = copyProcessDefinitionUsingPOSTRequestBuilder(codes, projectCode, targetProjectCode);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("copyProcessDefinitionUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder copyProcessDefinitionUsingPOSTRequestBuilder(String codes, Long projectCode, Long targetProjectCode) throws ApiException {
    // verify the required parameter 'codes' is set
    if (codes == null) {
      throw new ApiException(400, "Missing the required parameter 'codes' when calling copyProcessDefinitionUsingPOST");
    }
    // verify the required parameter 'projectCode' is set
    if (projectCode == null) {
      throw new ApiException(400, "Missing the required parameter 'projectCode' when calling copyProcessDefinitionUsingPOST");
    }
    // verify the required parameter 'targetProjectCode' is set
    if (targetProjectCode == null) {
      throw new ApiException(400, "Missing the required parameter 'targetProjectCode' when calling copyProcessDefinitionUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/{projectCode}/process-definition/batch-copy"
        .replace("{projectCode}", ApiClient.urlEncode(projectCode.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("codes", codes));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("targetProjectCode", targetProjectCode));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * countCommandState
   * 统计命令状态
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result countCommandStateUsingGET() throws ApiException {
    ApiResponse<Result> localVarResponse = countCommandStateUsingGETWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * countCommandState
   * 统计命令状态
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> countCommandStateUsingGETWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = countCommandStateUsingGETRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("countCommandStateUsingGET", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder countCommandStateUsingGETRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/analysis/command-state-count";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * countDefinitionByUser
   * 统计用户创建的流程定义
   * @param projectCode PROJECT_CODE (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result countDefinitionByUserUsingGET(Long projectCode) throws ApiException {
    ApiResponse<Result> localVarResponse = countDefinitionByUserUsingGETWithHttpInfo(projectCode);
    return localVarResponse.getData();
  }

  /**
   * countDefinitionByUser
   * 统计用户创建的流程定义
   * @param projectCode PROJECT_CODE (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> countDefinitionByUserUsingGETWithHttpInfo(Long projectCode) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = countDefinitionByUserUsingGETRequestBuilder(projectCode);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("countDefinitionByUserUsingGET", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder countDefinitionByUserUsingGETRequestBuilder(Long projectCode) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/analysis/define-user-count";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("projectCode", projectCode));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * countProcessInstanceState
   * 统计流程实例状态
   * @param endDate 结束时间 (optional)
   * @param projectCode PROJECT_CODE (optional)
   * @param startDate 开始时间 (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result countProcessInstanceStateUsingGET(String endDate, Long projectCode, String startDate) throws ApiException {
    ApiResponse<Result> localVarResponse = countProcessInstanceStateUsingGETWithHttpInfo(endDate, projectCode, startDate);
    return localVarResponse.getData();
  }

  /**
   * countProcessInstanceState
   * 统计流程实例状态
   * @param endDate 结束时间 (optional)
   * @param projectCode PROJECT_CODE (optional)
   * @param startDate 开始时间 (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> countProcessInstanceStateUsingGETWithHttpInfo(String endDate, Long projectCode, String startDate) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = countProcessInstanceStateUsingGETRequestBuilder(endDate, projectCode, startDate);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("countProcessInstanceStateUsingGET", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder countProcessInstanceStateUsingGETRequestBuilder(String endDate, Long projectCode, String startDate) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/analysis/process-state-count";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("endDate", endDate));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("projectCode", projectCode));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("startDate", startDate));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * countQueueState
   * 统计队列里任务状态
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result countQueueStateUsingGET() throws ApiException {
    ApiResponse<Result> localVarResponse = countQueueStateUsingGETWithHttpInfo();
    return localVarResponse.getData();
  }

  /**
   * countQueueState
   * 统计队列里任务状态
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> countQueueStateUsingGETWithHttpInfo() throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = countQueueStateUsingGETRequestBuilder();
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("countQueueStateUsingGET", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder countQueueStateUsingGETRequestBuilder() throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/analysis/queue-count";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * countTaskState
   * 任务状态统计
   * @param endDate 结束时间 (optional)
   * @param projectCode PROJECT_CODE (optional)
   * @param startDate 开始时间 (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result countTaskStateUsingGET(String endDate, Long projectCode, String startDate) throws ApiException {
    ApiResponse<Result> localVarResponse = countTaskStateUsingGETWithHttpInfo(endDate, projectCode, startDate);
    return localVarResponse.getData();
  }

  /**
   * countTaskState
   * 任务状态统计
   * @param endDate 结束时间 (optional)
   * @param projectCode PROJECT_CODE (optional)
   * @param startDate 开始时间 (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> countTaskStateUsingGETWithHttpInfo(String endDate, Long projectCode, String startDate) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = countTaskStateUsingGETRequestBuilder(endDate, projectCode, startDate);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("countTaskStateUsingGET", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder countTaskStateUsingGETRequestBuilder(String endDate, Long projectCode, String startDate) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/analysis/task-state-count";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("endDate", endDate));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("projectCode", projectCode));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("startDate", startDate));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * createAlertPluginInstance
   * 创建告警插件实例
   * @param instanceName 告警插件实例名称 (required)
   * @param pluginDefineId 告警插件定义ID (required)
   * @param pluginInstanceParams 告警插件实例参数 (required)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result createAlertPluginInstanceUsingPOST(String instanceName, Integer pluginDefineId, String pluginInstanceParams) throws ApiException {
    ApiResponse<Result> localVarResponse = createAlertPluginInstanceUsingPOSTWithHttpInfo(instanceName, pluginDefineId, pluginInstanceParams);
    return localVarResponse.getData();
  }

  /**
   * createAlertPluginInstance
   * 创建告警插件实例
   * @param instanceName 告警插件实例名称 (required)
   * @param pluginDefineId 告警插件定义ID (required)
   * @param pluginInstanceParams 告警插件实例参数 (required)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> createAlertPluginInstanceUsingPOSTWithHttpInfo(String instanceName, Integer pluginDefineId, String pluginInstanceParams) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createAlertPluginInstanceUsingPOSTRequestBuilder(instanceName, pluginDefineId, pluginInstanceParams);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("createAlertPluginInstanceUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createAlertPluginInstanceUsingPOSTRequestBuilder(String instanceName, Integer pluginDefineId, String pluginInstanceParams) throws ApiException {
    // verify the required parameter 'instanceName' is set
    if (instanceName == null) {
      throw new ApiException(400, "Missing the required parameter 'instanceName' when calling createAlertPluginInstanceUsingPOST");
    }
    // verify the required parameter 'pluginDefineId' is set
    if (pluginDefineId == null) {
      throw new ApiException(400, "Missing the required parameter 'pluginDefineId' when calling createAlertPluginInstanceUsingPOST");
    }
    // verify the required parameter 'pluginInstanceParams' is set
    if (pluginInstanceParams == null) {
      throw new ApiException(400, "Missing the required parameter 'pluginInstanceParams' when calling createAlertPluginInstanceUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/alert-plugin-instances";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("instanceName", instanceName));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pluginDefineId", pluginDefineId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pluginInstanceParams", pluginInstanceParams));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * createAlertgroup
   * 创建告警组
   * @param alertInstanceIds alertInstanceIds (required)
   * @param groupName 组名称 (required)
   * @param description 备注(描述) (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result createAlertgroupUsingPOST(String alertInstanceIds, String groupName, String description) throws ApiException {
    ApiResponse<Result> localVarResponse = createAlertgroupUsingPOSTWithHttpInfo(alertInstanceIds, groupName, description);
    return localVarResponse.getData();
  }

  /**
   * createAlertgroup
   * 创建告警组
   * @param alertInstanceIds alertInstanceIds (required)
   * @param groupName 组名称 (required)
   * @param description 备注(描述) (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> createAlertgroupUsingPOSTWithHttpInfo(String alertInstanceIds, String groupName, String description) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createAlertgroupUsingPOSTRequestBuilder(alertInstanceIds, groupName, description);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("createAlertgroupUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createAlertgroupUsingPOSTRequestBuilder(String alertInstanceIds, String groupName, String description) throws ApiException {
    // verify the required parameter 'alertInstanceIds' is set
    if (alertInstanceIds == null) {
      throw new ApiException(400, "Missing the required parameter 'alertInstanceIds' when calling createAlertgroupUsingPOST");
    }
    // verify the required parameter 'groupName' is set
    if (groupName == null) {
      throw new ApiException(400, "Missing the required parameter 'groupName' when calling createAlertgroupUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/alert-groups";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("alertInstanceIds", alertInstanceIds));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description", description));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("groupName", groupName));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * createDataSource
   * 创建数据源
   * @param dataSourceParam 数据源参数 (required)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result createDataSourceUsingPOST(BaseDataSourceParamDTO dataSourceParam) throws ApiException {
    ApiResponse<Result> localVarResponse = createDataSourceUsingPOSTWithHttpInfo(dataSourceParam);
    return localVarResponse.getData();
  }

  /**
   * createDataSource
   * 创建数据源
   * @param dataSourceParam 数据源参数 (required)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> createDataSourceUsingPOSTWithHttpInfo(BaseDataSourceParamDTO dataSourceParam) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createDataSourceUsingPOSTRequestBuilder(dataSourceParam);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("createDataSourceUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createDataSourceUsingPOSTRequestBuilder(BaseDataSourceParamDTO dataSourceParam) throws ApiException {
    // verify the required parameter 'dataSourceParam' is set
    if (dataSourceParam == null) {
      throw new ApiException(400, "Missing the required parameter 'dataSourceParam' when calling createDataSourceUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/datasources";

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(dataSourceParam);
      localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * createDirctory
   * 创建资源
   * @param currentDir 当前资源目录 (required)
   * @param name 资源文件名称 (required)
   * @param pid 资源父目录ID (required)
   * @param type 资源文件类型 (required)
   * @param description 资源文件描述 (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result createDirectoryUsingPOST(String currentDir, String name, Integer pid, Object type, String description) throws ApiException {
    ApiResponse<Result> localVarResponse = createDirectoryUsingPOSTWithHttpInfo(currentDir, name, pid, type, description);
    return localVarResponse.getData();
  }

  /**
   * createDirctory
   * 创建资源
   * @param currentDir 当前资源目录 (required)
   * @param name 资源文件名称 (required)
   * @param pid 资源父目录ID (required)
   * @param type 资源文件类型 (required)
   * @param description 资源文件描述 (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> createDirectoryUsingPOSTWithHttpInfo(String currentDir, String name, Integer pid, Object type, String description) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createDirectoryUsingPOSTRequestBuilder(currentDir, name, pid, type, description);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("createDirectoryUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createDirectoryUsingPOSTRequestBuilder(String currentDir, String name, Integer pid, Object type, String description) throws ApiException {
    // verify the required parameter 'currentDir' is set
    if (currentDir == null) {
      throw new ApiException(400, "Missing the required parameter 'currentDir' when calling createDirectoryUsingPOST");
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      throw new ApiException(400, "Missing the required parameter 'name' when calling createDirectoryUsingPOST");
    }
    // verify the required parameter 'pid' is set
    if (pid == null) {
      throw new ApiException(400, "Missing the required parameter 'pid' when calling createDirectoryUsingPOST");
    }
    // verify the required parameter 'type' is set
    if (type == null) {
      throw new ApiException(400, "Missing the required parameter 'type' when calling createDirectoryUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/resources/directory";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("currentDir", currentDir));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description", description));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name", name));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pid", pid));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("type", type));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * createEmptyProcessDefinition
   * CREATE_EMPTY_PROCESS_NOTES
   * @param name 流程定义名称 (required)
   * @param projectCode PROJECT_CODE (required)
   * @param tenantCode tenantCode (required)
   * @param description 流程定义描述信息 (optional)
   * @param globalParams globalParams (optional, default to [])
   * @param scheduleJson scheduleJson (optional)
   * @param timeout timeout (optional, default to 0)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result createEmptyProcessDefinitionUsingPOST(String name, Long projectCode, String tenantCode, String description, String globalParams, String scheduleJson, Integer timeout) throws ApiException {
    ApiResponse<Result> localVarResponse = createEmptyProcessDefinitionUsingPOSTWithHttpInfo(name, projectCode, tenantCode, description, globalParams, scheduleJson, timeout);
    return localVarResponse.getData();
  }

  /**
   * createEmptyProcessDefinition
   * CREATE_EMPTY_PROCESS_NOTES
   * @param name 流程定义名称 (required)
   * @param projectCode PROJECT_CODE (required)
   * @param tenantCode tenantCode (required)
   * @param description 流程定义描述信息 (optional)
   * @param globalParams globalParams (optional, default to [])
   * @param scheduleJson scheduleJson (optional)
   * @param timeout timeout (optional, default to 0)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> createEmptyProcessDefinitionUsingPOSTWithHttpInfo(String name, Long projectCode, String tenantCode, String description, String globalParams, String scheduleJson, Integer timeout) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createEmptyProcessDefinitionUsingPOSTRequestBuilder(name, projectCode, tenantCode, description, globalParams, scheduleJson, timeout);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("createEmptyProcessDefinitionUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createEmptyProcessDefinitionUsingPOSTRequestBuilder(String name, Long projectCode, String tenantCode, String description, String globalParams, String scheduleJson, Integer timeout) throws ApiException {
    // verify the required parameter 'name' is set
    if (name == null) {
      throw new ApiException(400, "Missing the required parameter 'name' when calling createEmptyProcessDefinitionUsingPOST");
    }
    // verify the required parameter 'projectCode' is set
    if (projectCode == null) {
      throw new ApiException(400, "Missing the required parameter 'projectCode' when calling createEmptyProcessDefinitionUsingPOST");
    }
    // verify the required parameter 'tenantCode' is set
    if (tenantCode == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantCode' when calling createEmptyProcessDefinitionUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/{projectCode}/process-definition/empty"
        .replace("{projectCode}", ApiClient.urlEncode(projectCode.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description", description));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("globalParams", globalParams));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name", name));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("scheduleJson", scheduleJson));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tenantCode", tenantCode));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("timeout", timeout));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * createProcessDefinition
   * 创建流程定义
   * @param locations 流程定义节点坐标位置信息(json格式) (required)
   * @param name 流程定义名称 (required)
   * @param projectCode PROJECT_CODE (required)
   * @param taskDefinitionJson taskDefinitionJson (required)
   * @param taskRelationJson taskRelationJson (required)
   * @param tenantCode tenantCode (required)
   * @param description 流程定义描述信息 (optional)
   * @param globalParams globalParams (optional, default to [])
   * @param timeout timeout (optional, default to 0)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result createProcessDefinitionUsingPOST(String locations, String name, Long projectCode, String taskDefinitionJson, String taskRelationJson, String tenantCode, String description, String globalParams, Integer timeout) throws ApiException {
    ApiResponse<Result> localVarResponse = createProcessDefinitionUsingPOSTWithHttpInfo(locations, name, projectCode, taskDefinitionJson, taskRelationJson, tenantCode, description, globalParams, timeout);
    return localVarResponse.getData();
  }

  /**
   * createProcessDefinition
   * 创建流程定义
   * @param locations 流程定义节点坐标位置信息(json格式) (required)
   * @param name 流程定义名称 (required)
   * @param projectCode PROJECT_CODE (required)
   * @param taskDefinitionJson taskDefinitionJson (required)
   * @param taskRelationJson taskRelationJson (required)
   * @param tenantCode tenantCode (required)
   * @param description 流程定义描述信息 (optional)
   * @param globalParams globalParams (optional, default to [])
   * @param timeout timeout (optional, default to 0)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> createProcessDefinitionUsingPOSTWithHttpInfo(String locations, String name, Long projectCode, String taskDefinitionJson, String taskRelationJson, String tenantCode, String description, String globalParams, Integer timeout) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createProcessDefinitionUsingPOSTRequestBuilder(locations, name, projectCode, taskDefinitionJson, taskRelationJson, tenantCode, description, globalParams, timeout);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("createProcessDefinitionUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createProcessDefinitionUsingPOSTRequestBuilder(String locations, String name, Long projectCode, String taskDefinitionJson, String taskRelationJson, String tenantCode, String description, String globalParams, Integer timeout) throws ApiException {
    // verify the required parameter 'locations' is set
    if (locations == null) {
      throw new ApiException(400, "Missing the required parameter 'locations' when calling createProcessDefinitionUsingPOST");
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      throw new ApiException(400, "Missing the required parameter 'name' when calling createProcessDefinitionUsingPOST");
    }
    // verify the required parameter 'projectCode' is set
    if (projectCode == null) {
      throw new ApiException(400, "Missing the required parameter 'projectCode' when calling createProcessDefinitionUsingPOST");
    }
    // verify the required parameter 'taskDefinitionJson' is set
    if (taskDefinitionJson == null) {
      throw new ApiException(400, "Missing the required parameter 'taskDefinitionJson' when calling createProcessDefinitionUsingPOST");
    }
    // verify the required parameter 'taskRelationJson' is set
    if (taskRelationJson == null) {
      throw new ApiException(400, "Missing the required parameter 'taskRelationJson' when calling createProcessDefinitionUsingPOST");
    }
    // verify the required parameter 'tenantCode' is set
    if (tenantCode == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantCode' when calling createProcessDefinitionUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/{projectCode}/process-definition"
        .replace("{projectCode}", ApiClient.urlEncode(projectCode.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description", description));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("globalParams", globalParams));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("locations", locations));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name", name));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("taskDefinitionJson", taskDefinitionJson));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("taskRelationJson", taskRelationJson));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tenantCode", tenantCode));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("timeout", timeout));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * create
   * 创建项目
   * @param description 项目描述 (optional)
   * @param projectName 项目名称 (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result createProjectUsingPOST1(String description, String projectName) throws ApiException {
    ApiResponse<Result> localVarResponse = createProjectUsingPOST1WithHttpInfo(description, projectName);
    return localVarResponse.getData();
  }

  /**
   * create
   * 创建项目
   * @param description 项目描述 (optional)
   * @param projectName 项目名称 (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> createProjectUsingPOST1WithHttpInfo(String description, String projectName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createProjectUsingPOST1RequestBuilder(description, projectName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("createProjectUsingPOST1", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createProjectUsingPOST1RequestBuilder(String description, String projectName) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description", description));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("projectName", projectName));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * createQueue
   * 创建队列
   * @param queue hadoop yarn队列名 (required)
   * @param queueName 队列名 (required)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result createQueueUsingPOST(String queue, String queueName) throws ApiException {
    ApiResponse<Result> localVarResponse = createQueueUsingPOSTWithHttpInfo(queue, queueName);
    return localVarResponse.getData();
  }

  /**
   * createQueue
   * 创建队列
   * @param queue hadoop yarn队列名 (required)
   * @param queueName 队列名 (required)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> createQueueUsingPOSTWithHttpInfo(String queue, String queueName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createQueueUsingPOSTRequestBuilder(queue, queueName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("createQueueUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createQueueUsingPOSTRequestBuilder(String queue, String queueName) throws ApiException {
    // verify the required parameter 'queue' is set
    if (queue == null) {
      throw new ApiException(400, "Missing the required parameter 'queue' when calling createQueueUsingPOST");
    }
    // verify the required parameter 'queueName' is set
    if (queueName == null) {
      throw new ApiException(400, "Missing the required parameter 'queueName' when calling createQueueUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/queues";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("queue", queue));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("queueName", queueName));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * createResource
   * 创建资源
   * @param currentDir 当前资源目录 (required)
   * @param name 资源文件名称 (required)
   * @param pid 资源父目录ID (required)
   * @param type 资源文件类型 (required)
   * @param file 资源文件 (required)
   * @param description 资源文件描述 (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result createResourceUsingPOST(String currentDir, String name, Integer pid, Object type, Object file, String description) throws ApiException {
    ApiResponse<Result> localVarResponse = createResourceUsingPOSTWithHttpInfo(currentDir, name, pid, type, file, description);
    return localVarResponse.getData();
  }

  /**
   * createResource
   * 创建资源
   * @param currentDir 当前资源目录 (required)
   * @param name 资源文件名称 (required)
   * @param pid 资源父目录ID (required)
   * @param type 资源文件类型 (required)
   * @param file 资源文件 (required)
   * @param description 资源文件描述 (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> createResourceUsingPOSTWithHttpInfo(String currentDir, String name, Integer pid, Object type, Object file, String description) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createResourceUsingPOSTRequestBuilder(currentDir, name, pid, type, file, description);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("createResourceUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createResourceUsingPOSTRequestBuilder(String currentDir, String name, Integer pid, Object type, Object file, String description) throws ApiException {
    // verify the required parameter 'currentDir' is set
    if (currentDir == null) {
      throw new ApiException(400, "Missing the required parameter 'currentDir' when calling createResourceUsingPOST");
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      throw new ApiException(400, "Missing the required parameter 'name' when calling createResourceUsingPOST");
    }
    // verify the required parameter 'pid' is set
    if (pid == null) {
      throw new ApiException(400, "Missing the required parameter 'pid' when calling createResourceUsingPOST");
    }
    // verify the required parameter 'type' is set
    if (type == null) {
      throw new ApiException(400, "Missing the required parameter 'type' when calling createResourceUsingPOST");
    }
    // verify the required parameter 'file' is set
    if (file == null) {
      throw new ApiException(400, "Missing the required parameter 'file' when calling createResourceUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/resources";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("currentDir", currentDir));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description", description));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name", name));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pid", pid));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("type", type));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * createSchedule
   * 创建定时
   * @param processDefinitionCode 流程定义编码 (required)
   * @param projectCode PROJECT_CODE (required)
   * @param environmentCode ENVIRONMENT_CODE (optional)
   * @param failureStrategy 失败策略 (optional)
   * @param processInstancePriority 流程实例优先级 (optional)
   * @param schedule 定时 (optional)
   * @param warningGroupId 发送组ID (optional)
   * @param warningType 发送策略 (optional)
   * @param workerGroup workerGroup (optional, default to default)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result createScheduleUsingPOST(Long processDefinitionCode, Long projectCode, Long environmentCode, String failureStrategy, String processInstancePriority, String schedule, Integer warningGroupId, String warningType, String workerGroup) throws ApiException {
[...]
