/*
 * Dolphin Scheduler Api Docs
 * Dolphin Scheduler Api Docs
 *
 * The version of the OpenAPI document: 1.3.9
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package com.qk.datacenter.api;

import com.qk.datacenter.client.ApiClient;
import com.qk.datacenter.client.ApiException;
import com.qk.datacenter.client.ApiResponse;
import com.qk.datacenter.client.Pair;

import java.time.OffsetDateTime;
import com.qk.datacenter.model.ResponseEntity;
import com.qk.datacenter.model.Result;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.util.function.Consumer;

import java.util.ArrayList;
import java.util.StringJoiner;
import java.util.List;
import java.util.Map;
import java.util.Set;

@javax.annotation.processing.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2021-11-09T12:28:17.177569+08:00[Asia/Shanghai]")
public class DefaultApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public DefaultApi() {
    this(new ApiClient());
  }

  public DefaultApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * authedDatasource
   * 授权的数据源
   * @param userId 用户ID (required)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result authedDatasourceUsingGET(Integer userId) throws ApiException {
    ApiResponse<Result> localVarResponse = authedDatasourceUsingGETWithHttpInfo(userId);
    return localVarResponse.getData();
  }

  /**
   * authedDatasource
   * 授权的数据源
   * @param userId 用户ID (required)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> authedDatasourceUsingGETWithHttpInfo(Integer userId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = authedDatasourceUsingGETRequestBuilder(userId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("authedDatasourceUsingGET", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder authedDatasourceUsingGETRequestBuilder(Integer userId) throws ApiException {
    // verify the required parameter 'userId' is set
    if (userId == null) {
      throw new ApiException(400, "Missing the required parameter 'userId' when calling authedDatasourceUsingGET");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/datasources/authed-datasource";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("userId", userId));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * authorizeResourceTree
   * AUTHORIZE_RESOURCE_TREE_NOTES
   * @param userId 用户ID (required)
   * @throws ApiException if fails to make API call
   */
  public void authorizeResourceTreeUsingGET(Integer userId) throws ApiException {
    authorizeResourceTreeUsingGETWithHttpInfo(userId);
  }

  /**
   * authorizeResourceTree
   * AUTHORIZE_RESOURCE_TREE_NOTES
   * @param userId 用户ID (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> authorizeResourceTreeUsingGETWithHttpInfo(Integer userId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = authorizeResourceTreeUsingGETRequestBuilder(userId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("authorizeResourceTreeUsingGET", localVarResponse);
      }
      return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder authorizeResourceTreeUsingGETRequestBuilder(Integer userId) throws ApiException {
    // verify the required parameter 'userId' is set
    if (userId == null) {
      throw new ApiException(400, "Missing the required parameter 'userId' when calling authorizeResourceTreeUsingGET");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/resources/authorize-resource-tree";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("userId", userId));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * authorizedFile
   * 授权文件
   * @param userId 用户ID (required)
   * @throws ApiException if fails to make API call
   */
  public void authorizedFileUsingGET(Integer userId) throws ApiException {
    authorizedFileUsingGETWithHttpInfo(userId);
  }

  /**
   * authorizedFile
   * 授权文件
   * @param userId 用户ID (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> authorizedFileUsingGETWithHttpInfo(Integer userId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = authorizedFileUsingGETRequestBuilder(userId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("authorizedFileUsingGET", localVarResponse);
      }
      return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder authorizedFileUsingGETRequestBuilder(Integer userId) throws ApiException {
    // verify the required parameter 'userId' is set
    if (userId == null) {
      throw new ApiException(400, "Missing the required parameter 'userId' when calling authorizedFileUsingGET");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/resources/authed-file";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("userId", userId));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * authUDFFunc
   * 授权udf函数
   * @param userId 用户ID (required)
   * @throws ApiException if fails to make API call
   */
  public void authorizedUDFFunctionUsingGET(Integer userId) throws ApiException {
    authorizedUDFFunctionUsingGETWithHttpInfo(userId);
  }

  /**
   * authUDFFunc
   * 授权udf函数
   * @param userId 用户ID (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> authorizedUDFFunctionUsingGETWithHttpInfo(Integer userId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = authorizedUDFFunctionUsingGETRequestBuilder(userId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("authorizedUDFFunctionUsingGET", localVarResponse);
      }
      return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder authorizedUDFFunctionUsingGETRequestBuilder(Integer userId) throws ApiException {
    // verify the required parameter 'userId' is set
    if (userId == null) {
      throw new ApiException(400, "Missing the required parameter 'userId' when calling authorizedUDFFunctionUsingGET");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/resources/authed-udf-func";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("userId", userId));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * authorizedUser
   * 授权用户
   * @param alertgroupId 报警组ID (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result authorizedUserUsingGET(String alertgroupId) throws ApiException {
    ApiResponse<Result> localVarResponse = authorizedUserUsingGETWithHttpInfo(alertgroupId);
    return localVarResponse.getData();
  }

  /**
   * authorizedUser
   * 授权用户
   * @param alertgroupId 报警组ID (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> authorizedUserUsingGETWithHttpInfo(String alertgroupId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = authorizedUserUsingGETRequestBuilder(alertgroupId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("authorizedUserUsingGET", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder authorizedUserUsingGETRequestBuilder(String alertgroupId) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/users/authed-user";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("alertgroupId", alertgroupId));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * batchDeleteProcessDefinitionByIds
   * 批量删除流程定义通过流程定义ID集合
   * @param projectName 项目名称 (required)
   * @param processDefinitionIds process definition ids (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result batchDeleteProcessDefinitionByIdsUsingGET(String projectName, String processDefinitionIds) throws ApiException {
    ApiResponse<Result> localVarResponse = batchDeleteProcessDefinitionByIdsUsingGETWithHttpInfo(projectName, processDefinitionIds);
    return localVarResponse.getData();
  }

  /**
   * batchDeleteProcessDefinitionByIds
   * 批量删除流程定义通过流程定义ID集合
   * @param projectName 项目名称 (required)
   * @param processDefinitionIds process definition ids (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> batchDeleteProcessDefinitionByIdsUsingGETWithHttpInfo(String projectName, String processDefinitionIds) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = batchDeleteProcessDefinitionByIdsUsingGETRequestBuilder(projectName, processDefinitionIds);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("batchDeleteProcessDefinitionByIdsUsingGET", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder batchDeleteProcessDefinitionByIdsUsingGETRequestBuilder(String projectName, String processDefinitionIds) throws ApiException {
    // verify the required parameter 'projectName' is set
    if (projectName == null) {
      throw new ApiException(400, "Missing the required parameter 'projectName' when calling batchDeleteProcessDefinitionByIdsUsingGET");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/{projectName}/process/batch-delete"
        .replace("{projectName}", ApiClient.urlEncode(projectName.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("processDefinitionIds", processDefinitionIds));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * batchDeleteProcessInstanceByIds
   * 
   * @param processInstanceIds processInstanceIds (required)
   * @param projectName projectName (required)
   * @param alertGroup  (optional)
   * @param createTime  (optional)
   * @param email  (optional)
   * @param id  (optional)
   * @param phone  (optional)
   * @param queue  (optional)
   * @param queueName  (optional)
   * @param tenantCode  (optional)
   * @param tenantId  (optional)
   * @param tenantName  (optional)
   * @param updateTime  (optional)
   * @param userName  (optional)
   * @param userPassword  (optional)
   * @param userType  (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result batchDeleteProcessInstanceByIdsUsingGET(String processInstanceIds, String projectName, String alertGroup, OffsetDateTime createTime, String email, Integer id, String phone, String queue, String queueName, String tenantCode, Integer tenantId, String tenantName, OffsetDateTime updateTime, String userName, String userPassword, String userType) throws ApiException {
    ApiResponse<Result> localVarResponse = batchDeleteProcessInstanceByIdsUsingGETWithHttpInfo(processInstanceIds, projectName, alertGroup, createTime, email, id, phone, queue, queueName, tenantCode, tenantId, tenantName, updateTime, userName, userPassword, userType);
    return localVarResponse.getData();
  }

  /**
   * batchDeleteProcessInstanceByIds
   * 
   * @param processInstanceIds processInstanceIds (required)
   * @param projectName projectName (required)
   * @param alertGroup  (optional)
   * @param createTime  (optional)
   * @param email  (optional)
   * @param id  (optional)
   * @param phone  (optional)
   * @param queue  (optional)
   * @param queueName  (optional)
   * @param tenantCode  (optional)
   * @param tenantId  (optional)
   * @param tenantName  (optional)
   * @param updateTime  (optional)
   * @param userName  (optional)
   * @param userPassword  (optional)
   * @param userType  (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> batchDeleteProcessInstanceByIdsUsingGETWithHttpInfo(String processInstanceIds, String projectName, String alertGroup, OffsetDateTime createTime, String email, Integer id, String phone, String queue, String queueName, String tenantCode, Integer tenantId, String tenantName, OffsetDateTime updateTime, String userName, String userPassword, String userType) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = batchDeleteProcessInstanceByIdsUsingGETRequestBuilder(processInstanceIds, projectName, alertGroup, createTime, email, id, phone, queue, queueName, tenantCode, tenantId, tenantName, updateTime, userName, userPassword, userType);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("batchDeleteProcessInstanceByIdsUsingGET", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder batchDeleteProcessInstanceByIdsUsingGETRequestBuilder(String processInstanceIds, String projectName, String alertGroup, OffsetDateTime createTime, String email, Integer id, String phone, String queue, String queueName, String tenantCode, Integer tenantId, String tenantName, OffsetDateTime updateTime, String userName, String userPassword, String userType) throws ApiException {
    // verify the required parameter 'processInstanceIds' is set
    if (processInstanceIds == null) {
      throw new ApiException(400, "Missing the required parameter 'processInstanceIds' when calling batchDeleteProcessInstanceByIdsUsingGET");
    }
    // verify the required parameter 'projectName' is set
    if (projectName == null) {
      throw new ApiException(400, "Missing the required parameter 'projectName' when calling batchDeleteProcessInstanceByIdsUsingGET");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/{projectName}/instance/batch-delete"
        .replace("{projectName}", ApiClient.urlEncode(projectName.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("alertGroup", alertGroup));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("createTime", createTime));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("email", email));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id", id));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("phone", phone));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("processInstanceIds", processInstanceIds));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("queue", queue));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("queueName", queueName));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tenantCode", tenantCode));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tenantId", tenantId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tenantName", tenantName));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("updateTime", updateTime));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("userName", userName));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("userPassword", userPassword));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("userType", userType));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * batchExportProcessDefinitionByIds
   * 批量导出工作流定义
   * @param processDefinitionIds 流程定义ID (required)
   * @param projectName 项目名称 (required)
   * @throws ApiException if fails to make API call
   */
  public void batchExportProcessDefinitionByIdsUsingGET(String processDefinitionIds, String projectName) throws ApiException {
    batchExportProcessDefinitionByIdsUsingGETWithHttpInfo(processDefinitionIds, projectName);
  }

  /**
   * batchExportProcessDefinitionByIds
   * 批量导出工作流定义
   * @param processDefinitionIds 流程定义ID (required)
   * @param projectName 项目名称 (required)
   * @return ApiResponse&lt;Void&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Void> batchExportProcessDefinitionByIdsUsingGETWithHttpInfo(String processDefinitionIds, String projectName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = batchExportProcessDefinitionByIdsUsingGETRequestBuilder(processDefinitionIds, projectName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("batchExportProcessDefinitionByIdsUsingGET", localVarResponse);
      }
      return new ApiResponse<Void>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          null
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder batchExportProcessDefinitionByIdsUsingGETRequestBuilder(String processDefinitionIds, String projectName) throws ApiException {
    // verify the required parameter 'processDefinitionIds' is set
    if (processDefinitionIds == null) {
      throw new ApiException(400, "Missing the required parameter 'processDefinitionIds' when calling batchExportProcessDefinitionByIdsUsingGET");
    }
    // verify the required parameter 'projectName' is set
    if (projectName == null) {
      throw new ApiException(400, "Missing the required parameter 'projectName' when calling batchExportProcessDefinitionByIdsUsingGET");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/{projectName}/process/export"
        .replace("{projectName}", ApiClient.urlEncode(projectName.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("processDefinitionIds", processDefinitionIds));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * connectDataSource
   * 连接数据源
   * @param database 数据库名 (required)
   * @param host IP主机名 (required)
   * @param name 数据源名称 (required)
   * @param port 数据源端口 (required)
   * @param principal principal (required)
   * @param type 数据源类型 (required)
   * @param userName 用户名 (required)
   * @param connectType CONNECT_TYPE (optional)
   * @param note 数据源描述 (optional)
   * @param other jdbc连接参数，格式为:{\&quot;key1\&quot;:\&quot;value1\&quot;,...} (optional)
   * @param password 密码 (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result connectDataSourceUsingPOST(String database, String host, String name, String port, String principal, List type, String userName, Object connectType, String note, String other, String password) throws ApiException {
    ApiResponse<Result> localVarResponse = connectDataSourceUsingPOSTWithHttpInfo(database, host, name, port, principal, type, userName, connectType, note, other, password);
    return localVarResponse.getData();
  }

  /**
   * connectDataSource
   * 连接数据源
   * @param database 数据库名 (required)
   * @param host IP主机名 (required)
   * @param name 数据源名称 (required)
   * @param port 数据源端口 (required)
   * @param principal principal (required)
   * @param type 数据源类型 (required)
   * @param userName 用户名 (required)
   * @param connectType CONNECT_TYPE (optional)
   * @param note 数据源描述 (optional)
   * @param other jdbc连接参数，格式为:{\&quot;key1\&quot;:\&quot;value1\&quot;,...} (optional)
   * @param password 密码 (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> connectDataSourceUsingPOSTWithHttpInfo(String database, String host, String name, String port, String principal, List type, String userName, Object connectType, String note, String other, String password) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = connectDataSourceUsingPOSTRequestBuilder(database, host, name, port, principal, type, userName, connectType, note, other, password);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("connectDataSourceUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder connectDataSourceUsingPOSTRequestBuilder(String database, String host, String name, String port, String principal, List type, String userName, Object connectType, String note, String other, String password) throws ApiException {
    // verify the required parameter 'database' is set
    if (database == null) {
      throw new ApiException(400, "Missing the required parameter 'database' when calling connectDataSourceUsingPOST");
    }
    // verify the required parameter 'host' is set
    if (host == null) {
      throw new ApiException(400, "Missing the required parameter 'host' when calling connectDataSourceUsingPOST");
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      throw new ApiException(400, "Missing the required parameter 'name' when calling connectDataSourceUsingPOST");
    }
    // verify the required parameter 'port' is set
    if (port == null) {
      throw new ApiException(400, "Missing the required parameter 'port' when calling connectDataSourceUsingPOST");
    }
    // verify the required parameter 'principal' is set
    if (principal == null) {
      throw new ApiException(400, "Missing the required parameter 'principal' when calling connectDataSourceUsingPOST");
    }
    // verify the required parameter 'type' is set
    if (type == null) {
      throw new ApiException(400, "Missing the required parameter 'type' when calling connectDataSourceUsingPOST");
    }
    // verify the required parameter 'userName' is set
    if (userName == null) {
      throw new ApiException(400, "Missing the required parameter 'userName' when calling connectDataSourceUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/datasources/connect";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("connectType", connectType));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("database", database));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("host", host));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name", name));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("note", note));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("other", other));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("password", password));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("port", port));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("principal", principal));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("type", type));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("userName", userName));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * connectionTest
   * 连接数据源测试
   * @param id 数据源ID (required)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result connectionTestUsingGET(Integer id) throws ApiException {
    ApiResponse<Result> localVarResponse = connectionTestUsingGETWithHttpInfo(id);
    return localVarResponse.getData();
  }

  /**
   * connectionTest
   * 连接数据源测试
   * @param id 数据源ID (required)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> connectionTestUsingGETWithHttpInfo(Integer id) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = connectionTestUsingGETRequestBuilder(id);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("connectionTestUsingGET", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder connectionTestUsingGETRequestBuilder(Integer id) throws ApiException {
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling connectionTestUsingGET");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/datasources/connect-by-id";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("id", id));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * copyProcessDefinition
   * 复制流程定义
   * @param processId 流程定义ID (required)
   * @param projectName 项目名称 (required)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result copyProcessDefinitionUsingPOST(Integer processId, String projectName) throws ApiException {
    ApiResponse<Result> localVarResponse = copyProcessDefinitionUsingPOSTWithHttpInfo(processId, projectName);
    return localVarResponse.getData();
  }

  /**
   * copyProcessDefinition
   * 复制流程定义
   * @param processId 流程定义ID (required)
   * @param projectName 项目名称 (required)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> copyProcessDefinitionUsingPOSTWithHttpInfo(Integer processId, String projectName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = copyProcessDefinitionUsingPOSTRequestBuilder(processId, projectName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("copyProcessDefinitionUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder copyProcessDefinitionUsingPOSTRequestBuilder(Integer processId, String projectName) throws ApiException {
    // verify the required parameter 'processId' is set
    if (processId == null) {
      throw new ApiException(400, "Missing the required parameter 'processId' when calling copyProcessDefinitionUsingPOST");
    }
    // verify the required parameter 'projectName' is set
    if (projectName == null) {
      throw new ApiException(400, "Missing the required parameter 'projectName' when calling copyProcessDefinitionUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/{projectName}/process/copy"
        .replace("{projectName}", ApiClient.urlEncode(projectName.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("processId", processId));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * countCommandState
   * 统计命令状态
   * @param endDate 结束时间 (optional)
   * @param projectId 项目ID (optional)
   * @param startDate 开始时间 (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result countCommandStateUsingGET(String endDate, Integer projectId, String startDate) throws ApiException {
    ApiResponse<Result> localVarResponse = countCommandStateUsingGETWithHttpInfo(endDate, projectId, startDate);
    return localVarResponse.getData();
  }

  /**
   * countCommandState
   * 统计命令状态
   * @param endDate 结束时间 (optional)
   * @param projectId 项目ID (optional)
   * @param startDate 开始时间 (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> countCommandStateUsingGETWithHttpInfo(String endDate, Integer projectId, String startDate) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = countCommandStateUsingGETRequestBuilder(endDate, projectId, startDate);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("countCommandStateUsingGET", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder countCommandStateUsingGETRequestBuilder(String endDate, Integer projectId, String startDate) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/analysis/command-state-count";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("endDate", endDate));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("projectId", projectId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("startDate", startDate));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * countDefinitionByUser
   * 统计用户创建的流程定义
   * @param projectId 项目ID (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result countDefinitionByUserUsingGET(Integer projectId) throws ApiException {
    ApiResponse<Result> localVarResponse = countDefinitionByUserUsingGETWithHttpInfo(projectId);
    return localVarResponse.getData();
  }

  /**
   * countDefinitionByUser
   * 统计用户创建的流程定义
   * @param projectId 项目ID (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> countDefinitionByUserUsingGETWithHttpInfo(Integer projectId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = countDefinitionByUserUsingGETRequestBuilder(projectId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("countDefinitionByUserUsingGET", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder countDefinitionByUserUsingGETRequestBuilder(Integer projectId) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/analysis/define-user-count";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("projectId", projectId));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * countProcessInstanceState
   * 统计流程实例状态
   * @param endDate 结束时间 (optional)
   * @param projectId 项目ID (optional)
   * @param startDate 开始时间 (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result countProcessInstanceStateUsingGET(String endDate, Integer projectId, String startDate) throws ApiException {
    ApiResponse<Result> localVarResponse = countProcessInstanceStateUsingGETWithHttpInfo(endDate, projectId, startDate);
    return localVarResponse.getData();
  }

  /**
   * countProcessInstanceState
   * 统计流程实例状态
   * @param endDate 结束时间 (optional)
   * @param projectId 项目ID (optional)
   * @param startDate 开始时间 (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> countProcessInstanceStateUsingGETWithHttpInfo(String endDate, Integer projectId, String startDate) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = countProcessInstanceStateUsingGETRequestBuilder(endDate, projectId, startDate);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("countProcessInstanceStateUsingGET", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder countProcessInstanceStateUsingGETRequestBuilder(String endDate, Integer projectId, String startDate) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/analysis/process-state-count";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("endDate", endDate));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("projectId", projectId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("startDate", startDate));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * countQueueState
   * 统计队列里任务状态
   * @param projectId 项目ID (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result countQueueStateUsingGET(Integer projectId) throws ApiException {
    ApiResponse<Result> localVarResponse = countQueueStateUsingGETWithHttpInfo(projectId);
    return localVarResponse.getData();
  }

  /**
   * countQueueState
   * 统计队列里任务状态
   * @param projectId 项目ID (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> countQueueStateUsingGETWithHttpInfo(Integer projectId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = countQueueStateUsingGETRequestBuilder(projectId);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("countQueueStateUsingGET", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder countQueueStateUsingGETRequestBuilder(Integer projectId) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/analysis/queue-count";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("projectId", projectId));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * countTaskState
   * 任务状态统计
   * @param endDate 结束时间 (optional)
   * @param projectId 项目ID (optional)
   * @param startDate 开始时间 (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result countTaskStateUsingGET(String endDate, Integer projectId, String startDate) throws ApiException {
    ApiResponse<Result> localVarResponse = countTaskStateUsingGETWithHttpInfo(endDate, projectId, startDate);
    return localVarResponse.getData();
  }

  /**
   * countTaskState
   * 任务状态统计
   * @param endDate 结束时间 (optional)
   * @param projectId 项目ID (optional)
   * @param startDate 开始时间 (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> countTaskStateUsingGETWithHttpInfo(String endDate, Integer projectId, String startDate) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = countTaskStateUsingGETRequestBuilder(endDate, projectId, startDate);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("countTaskStateUsingGET", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder countTaskStateUsingGETRequestBuilder(String endDate, Integer projectId, String startDate) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/analysis/task-state-count";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("endDate", endDate));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("projectId", projectId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("startDate", startDate));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * createAlertgroup
   * create alert group 
   * @param groupName 组名称 (required)
   * @param groupType 组类型 (required)
   * @param description 备注(描述) (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result createAlertgroupUsingPOST(String groupName, Object groupType, String description) throws ApiException {
    ApiResponse<Result> localVarResponse = createAlertgroupUsingPOSTWithHttpInfo(groupName, groupType, description);
    return localVarResponse.getData();
  }

  /**
   * createAlertgroup
   * create alert group 
   * @param groupName 组名称 (required)
   * @param groupType 组类型 (required)
   * @param description 备注(描述) (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> createAlertgroupUsingPOSTWithHttpInfo(String groupName, Object groupType, String description) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createAlertgroupUsingPOSTRequestBuilder(groupName, groupType, description);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("createAlertgroupUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createAlertgroupUsingPOSTRequestBuilder(String groupName, Object groupType, String description) throws ApiException {
    // verify the required parameter 'groupName' is set
    if (groupName == null) {
      throw new ApiException(400, "Missing the required parameter 'groupName' when calling createAlertgroupUsingPOST");
    }
    // verify the required parameter 'groupType' is set
    if (groupType == null) {
      throw new ApiException(400, "Missing the required parameter 'groupType' when calling createAlertgroupUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/alert-group/create";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description", description));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("groupName", groupName));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("groupType", groupType));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * createDataSource
   * 创建数据源
   * @param database 数据库名 (required)
   * @param host IP主机名 (required)
   * @param name 数据源名称 (required)
   * @param port 数据源端口 (required)
   * @param principal principal (required)
   * @param type 数据源类型 (required)
   * @param userName 用户名 (required)
   * @param connectType CONNECT_TYPE (optional)
   * @param note 数据源描述 (optional)
   * @param other jdbc连接参数，格式为:{\&quot;key1\&quot;:\&quot;value1\&quot;,...} (optional)
   * @param password 密码 (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result createDataSourceUsingPOST(String database, String host, String name, String port, String principal, Object type, String userName, Object connectType, String note, String other, String password) throws ApiException {
    ApiResponse<Result> localVarResponse = createDataSourceUsingPOSTWithHttpInfo(database, host, name, port, principal, type, userName, connectType, note, other, password);
    return localVarResponse.getData();
  }

  /**
   * createDataSource
   * 创建数据源
   * @param database 数据库名 (required)
   * @param host IP主机名 (required)
   * @param name 数据源名称 (required)
   * @param port 数据源端口 (required)
   * @param principal principal (required)
   * @param type 数据源类型 (required)
   * @param userName 用户名 (required)
   * @param connectType CONNECT_TYPE (optional)
   * @param note 数据源描述 (optional)
   * @param other jdbc连接参数，格式为:{\&quot;key1\&quot;:\&quot;value1\&quot;,...} (optional)
   * @param password 密码 (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> createDataSourceUsingPOSTWithHttpInfo(String database, String host, String name, String port, String principal, Object type, String userName, Object connectType, String note, String other, String password) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createDataSourceUsingPOSTRequestBuilder(database, host, name, port, principal, type, userName, connectType, note, other, password);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("createDataSourceUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createDataSourceUsingPOSTRequestBuilder(String database, String host, String name, String port, String principal, Object type, String userName, Object connectType, String note, String other, String password) throws ApiException {
    // verify the required parameter 'database' is set
    if (database == null) {
      throw new ApiException(400, "Missing the required parameter 'database' when calling createDataSourceUsingPOST");
    }
    // verify the required parameter 'host' is set
    if (host == null) {
      throw new ApiException(400, "Missing the required parameter 'host' when calling createDataSourceUsingPOST");
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      throw new ApiException(400, "Missing the required parameter 'name' when calling createDataSourceUsingPOST");
    }
    // verify the required parameter 'port' is set
    if (port == null) {
      throw new ApiException(400, "Missing the required parameter 'port' when calling createDataSourceUsingPOST");
    }
    // verify the required parameter 'principal' is set
    if (principal == null) {
      throw new ApiException(400, "Missing the required parameter 'principal' when calling createDataSourceUsingPOST");
    }
    // verify the required parameter 'type' is set
    if (type == null) {
      throw new ApiException(400, "Missing the required parameter 'type' when calling createDataSourceUsingPOST");
    }
    // verify the required parameter 'userName' is set
    if (userName == null) {
      throw new ApiException(400, "Missing the required parameter 'userName' when calling createDataSourceUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/datasources/create";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("connectType", connectType));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("database", database));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("host", host));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name", name));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("note", note));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("other", other));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("password", password));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("port", port));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("principal", principal));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("type", type));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("userName", userName));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * createDirctory
   * 创建资源
   * @param currentDir currentDir (required)
   * @param name 资源文件名称 (required)
   * @param pid pid (required)
   * @param type 资源文件类型 (required)
   * @param description 资源文件描述 (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result createDirectoryUsingPOST(String currentDir, String name, Integer pid, Object type, String description) throws ApiException {
    ApiResponse<Result> localVarResponse = createDirectoryUsingPOSTWithHttpInfo(currentDir, name, pid, type, description);
    return localVarResponse.getData();
  }

  /**
   * createDirctory
   * 创建资源
   * @param currentDir currentDir (required)
   * @param name 资源文件名称 (required)
   * @param pid pid (required)
   * @param type 资源文件类型 (required)
   * @param description 资源文件描述 (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> createDirectoryUsingPOSTWithHttpInfo(String currentDir, String name, Integer pid, Object type, String description) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createDirectoryUsingPOSTRequestBuilder(currentDir, name, pid, type, description);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("createDirectoryUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createDirectoryUsingPOSTRequestBuilder(String currentDir, String name, Integer pid, Object type, String description) throws ApiException {
    // verify the required parameter 'currentDir' is set
    if (currentDir == null) {
      throw new ApiException(400, "Missing the required parameter 'currentDir' when calling createDirectoryUsingPOST");
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      throw new ApiException(400, "Missing the required parameter 'name' when calling createDirectoryUsingPOST");
    }
    // verify the required parameter 'pid' is set
    if (pid == null) {
      throw new ApiException(400, "Missing the required parameter 'pid' when calling createDirectoryUsingPOST");
    }
    // verify the required parameter 'type' is set
    if (type == null) {
      throw new ApiException(400, "Missing the required parameter 'type' when calling createDirectoryUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/resources/directory/create";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("currentDir", currentDir));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description", description));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name", name));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pid", pid));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("type", type));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * save
   * 创建流程定义
   * @param connects 流程定义节点图标连接信息(json格式) (required)
   * @param locations 流程定义节点坐标位置信息(json格式) (required)
   * @param name 流程定义名称 (required)
   * @param processDefinitionJson 流程定义详细信息(json格式) (required)
   * @param projectName 项目名称 (required)
   * @param description 流程定义描述信息 (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result createProcessDefinitionUsingPOST(String connects, String locations, String name, String processDefinitionJson, String projectName, String description) throws ApiException {
    ApiResponse<Result> localVarResponse = createProcessDefinitionUsingPOSTWithHttpInfo(connects, locations, name, processDefinitionJson, projectName, description);
    return localVarResponse.getData();
  }

  /**
   * save
   * 创建流程定义
   * @param connects 流程定义节点图标连接信息(json格式) (required)
   * @param locations 流程定义节点坐标位置信息(json格式) (required)
   * @param name 流程定义名称 (required)
   * @param processDefinitionJson 流程定义详细信息(json格式) (required)
   * @param projectName 项目名称 (required)
   * @param description 流程定义描述信息 (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> createProcessDefinitionUsingPOSTWithHttpInfo(String connects, String locations, String name, String processDefinitionJson, String projectName, String description) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createProcessDefinitionUsingPOSTRequestBuilder(connects, locations, name, processDefinitionJson, projectName, description);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("createProcessDefinitionUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createProcessDefinitionUsingPOSTRequestBuilder(String connects, String locations, String name, String processDefinitionJson, String projectName, String description) throws ApiException {
    // verify the required parameter 'connects' is set
    if (connects == null) {
      throw new ApiException(400, "Missing the required parameter 'connects' when calling createProcessDefinitionUsingPOST");
    }
    // verify the required parameter 'locations' is set
    if (locations == null) {
      throw new ApiException(400, "Missing the required parameter 'locations' when calling createProcessDefinitionUsingPOST");
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      throw new ApiException(400, "Missing the required parameter 'name' when calling createProcessDefinitionUsingPOST");
    }
    // verify the required parameter 'processDefinitionJson' is set
    if (processDefinitionJson == null) {
      throw new ApiException(400, "Missing the required parameter 'processDefinitionJson' when calling createProcessDefinitionUsingPOST");
    }
    // verify the required parameter 'projectName' is set
    if (projectName == null) {
      throw new ApiException(400, "Missing the required parameter 'projectName' when calling createProcessDefinitionUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/{projectName}/process/save"
        .replace("{projectName}", ApiClient.urlEncode(projectName.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("connects", connects));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description", description));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("locations", locations));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name", name));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("processDefinitionJson", processDefinitionJson));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * createProject
   * 创建项目
   * @param description 项目描述 (optional)
   * @param projectName 项目名称 (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result createProjectUsingPOST(String description, String projectName) throws ApiException {
    ApiResponse<Result> localVarResponse = createProjectUsingPOSTWithHttpInfo(description, projectName);
    return localVarResponse.getData();
  }

  /**
   * createProject
   * 创建项目
   * @param description 项目描述 (optional)
   * @param projectName 项目名称 (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> createProjectUsingPOSTWithHttpInfo(String description, String projectName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createProjectUsingPOSTRequestBuilder(description, projectName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("createProjectUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createProjectUsingPOSTRequestBuilder(String description, String projectName) throws ApiException {

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/create";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description", description));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("projectName", projectName));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * createQueue
   * 创建队列
   * @param queue hadoop yarn队列名 (required)
   * @param queueName 队列名 (required)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result createQueueUsingPOST(String queue, String queueName) throws ApiException {
    ApiResponse<Result> localVarResponse = createQueueUsingPOSTWithHttpInfo(queue, queueName);
    return localVarResponse.getData();
  }

  /**
   * createQueue
   * 创建队列
   * @param queue hadoop yarn队列名 (required)
   * @param queueName 队列名 (required)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> createQueueUsingPOSTWithHttpInfo(String queue, String queueName) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createQueueUsingPOSTRequestBuilder(queue, queueName);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("createQueueUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createQueueUsingPOSTRequestBuilder(String queue, String queueName) throws ApiException {
    // verify the required parameter 'queue' is set
    if (queue == null) {
      throw new ApiException(400, "Missing the required parameter 'queue' when calling createQueueUsingPOST");
    }
    // verify the required parameter 'queueName' is set
    if (queueName == null) {
      throw new ApiException(400, "Missing the required parameter 'queueName' when calling createQueueUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/queue/create";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("queue", queue));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("queueName", queueName));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * createResource
   * 创建资源
   * @param currentDir currentDir (required)
   * @param name 资源文件名称 (required)
   * @param pid pid (required)
   * @param type 资源文件类型 (required)
   * @param file 资源文件 (required)
   * @param description 资源文件描述 (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result createResourceUsingPOST(String currentDir, String name, Integer pid, Object type, Object file, String description) throws ApiException {
    ApiResponse<Result> localVarResponse = createResourceUsingPOSTWithHttpInfo(currentDir, name, pid, type, file, description);
    return localVarResponse.getData();
  }

  /**
   * createResource
   * 创建资源
   * @param currentDir currentDir (required)
   * @param name 资源文件名称 (required)
   * @param pid pid (required)
   * @param type 资源文件类型 (required)
   * @param file 资源文件 (required)
   * @param description 资源文件描述 (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> createResourceUsingPOSTWithHttpInfo(String currentDir, String name, Integer pid, Object type, Object file, String description) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createResourceUsingPOSTRequestBuilder(currentDir, name, pid, type, file, description);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("createResourceUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createResourceUsingPOSTRequestBuilder(String currentDir, String name, Integer pid, Object type, Object file, String description) throws ApiException {
    // verify the required parameter 'currentDir' is set
    if (currentDir == null) {
      throw new ApiException(400, "Missing the required parameter 'currentDir' when calling createResourceUsingPOST");
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      throw new ApiException(400, "Missing the required parameter 'name' when calling createResourceUsingPOST");
    }
    // verify the required parameter 'pid' is set
    if (pid == null) {
      throw new ApiException(400, "Missing the required parameter 'pid' when calling createResourceUsingPOST");
    }
    // verify the required parameter 'type' is set
    if (type == null) {
      throw new ApiException(400, "Missing the required parameter 'type' when calling createResourceUsingPOST");
    }
    // verify the required parameter 'file' is set
    if (file == null) {
      throw new ApiException(400, "Missing the required parameter 'file' when calling createResourceUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/resources/create";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("currentDir", currentDir));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description", description));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("name", name));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pid", pid));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("type", type));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * createSchedule
   * 创建定时
   * @param processDefinitionId 流程定义ID (required)
   * @param projectName 项目名称 (required)
   * @param failureStrategy 失败策略 (optional)
   * @param processInstancePriority 流程实例优先级 (optional)
   * @param receivers 收件人 (optional)
   * @param receiversCc 收件人(抄送) (optional)
   * @param schedule 定时 (optional)
   * @param warningGroupId 发送组ID (optional)
   * @param warningType 发送策略 (optional)
   * @param workerGroup workerGroup (optional, default to default)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result createScheduleUsingPOST(Integer processDefinitionId, String projectName, String failureStrategy, String processInstancePriority, String receivers, String receiversCc, String schedule, Integer warningGroupId, String warningType, String workerGroup) throws ApiException {
    ApiResponse<Result> localVarResponse = createScheduleUsingPOSTWithHttpInfo(processDefinitionId, projectName, failureStrategy, processInstancePriority, receivers, receiversCc, schedule, warningGroupId, warningType, workerGroup);
    return localVarResponse.getData();
  }

  /**
   * createSchedule
   * 创建定时
   * @param processDefinitionId 流程定义ID (required)
   * @param projectName 项目名称 (required)
   * @param failureStrategy 失败策略 (optional)
   * @param processInstancePriority 流程实例优先级 (optional)
   * @param receivers 收件人 (optional)
   * @param receiversCc 收件人(抄送) (optional)
   * @param schedule 定时 (optional)
   * @param warningGroupId 发送组ID (optional)
   * @param warningType 发送策略 (optional)
   * @param workerGroup workerGroup (optional, default to default)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> createScheduleUsingPOSTWithHttpInfo(Integer processDefinitionId, String projectName, String failureStrategy, String processInstancePriority, String receivers, String receiversCc, String schedule, Integer warningGroupId, String warningType, String workerGroup) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createScheduleUsingPOSTRequestBuilder(processDefinitionId, projectName, failureStrategy, processInstancePriority, receivers, receiversCc, schedule, warningGroupId, warningType, workerGroup);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("createScheduleUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createScheduleUsingPOSTRequestBuilder(Integer processDefinitionId, String projectName, String failureStrategy, String processInstancePriority, String receivers, String receiversCc, String schedule, Integer warningGroupId, String warningType, String workerGroup) throws ApiException {
    // verify the required parameter 'processDefinitionId' is set
    if (processDefinitionId == null) {
      throw new ApiException(400, "Missing the required parameter 'processDefinitionId' when calling createScheduleUsingPOST");
    }
    // verify the required parameter 'projectName' is set
    if (projectName == null) {
      throw new ApiException(400, "Missing the required parameter 'projectName' when calling createScheduleUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/projects/{projectName}/schedule/create"
        .replace("{projectName}", ApiClient.urlEncode(projectName.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("failureStrategy", failureStrategy));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("processDefinitionId", processDefinitionId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("processInstancePriority", processInstancePriority));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("receivers", receivers));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("receiversCc", receiversCc));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("schedule", schedule));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("warningGroupId", warningGroupId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("warningType", warningType));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("workerGroup", workerGroup));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("POST", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
  /**
   * createTenant
   * 创建租户
   * @param queueId 队列ID (required)
   * @param tenantCode 租户编码 (required)
   * @param tenantName 租户名称 (required)
   * @param description 租户描述 (optional)
   * @return Result
   * @throws ApiException if fails to make API call
   */
  public Result createTenantUsingPOST(Integer queueId, String tenantCode, String tenantName, String description) throws ApiException {
    ApiResponse<Result> localVarResponse = createTenantUsingPOSTWithHttpInfo(queueId, tenantCode, tenantName, description);
    return localVarResponse.getData();
  }

  /**
   * createTenant
   * 创建租户
   * @param queueId 队列ID (required)
   * @param tenantCode 租户编码 (required)
   * @param tenantName 租户名称 (required)
   * @param description 租户描述 (optional)
   * @return ApiResponse&lt;Result&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<Result> createTenantUsingPOSTWithHttpInfo(Integer queueId, String tenantCode, String tenantName, String description) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder = createTenantUsingPOSTRequestBuilder(queueId, tenantCode, tenantName, description);
    try {
      HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
          localVarRequestBuilder.build(),
          HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      if (localVarResponse.statusCode()/ 100 != 2) {
        throw getApiException("createTenantUsingPOST", localVarResponse);
      }
      return new ApiResponse<Result>(
          localVarResponse.statusCode(),
          localVarResponse.headers().map(),
          memberVarObjectMapper.readValue(localVarResponse.body(), new TypeReference<Result>() {})
        );
    } catch (IOException e) {
      throw new ApiException(e);
    }
    catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder createTenantUsingPOSTRequestBuilder(Integer queueId, String tenantCode, String tenantName, String description) throws ApiException {
    // verify the required parameter 'queueId' is set
    if (queueId == null) {
      throw new ApiException(400, "Missing the required parameter 'queueId' when calling createTenantUsingPOST");
    }
    // verify the required parameter 'tenantCode' is set
    if (tenantCode == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantCode' when calling createTenantUsingPOST");
    }
    // verify the required parameter 'tenantName' is set
    if (tenantName == null) {
      throw new ApiException(400, "Missing the required parameter 'tenantName' when calling createTenantUsingPOST");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath = "/tenant/create";

    List<Pair> localVarQueryParams = new ArrayList<>();
    localVarQueryParams.addAll(ApiClient.parameterToPairs("description", description));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("queueId", queueId));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tenantCode", tenantCode));
    localVarQueryParams.addAll(ApiClient.parameterToPairs("tenantName", tenantName));

    if (!localVarQueryParams.isEmpty()) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
[...]
